<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="rtl" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/static/css/bootstrap_disable.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/base_site_disable.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="#" />
    <script src="/static/js/bootstrap_disable.min.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">S</a>
        <div class="navbar-nav" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/excess/">Температурный контроль</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>


</body>
</html>
