{% extends "base_site.html" %}
{% block head %}

<link href="/static/css/excess.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<h1>заголовок з1</h1>

<fieldset id="fsHisTable" class="fsHisTable" style="width: 1052px;">
<legend>legend Температурный контроль</legend>
<div class="divActionExcess"></div>
<table class="tblDataExcess">
    <caption>заголовок таблицы</caption>
    <thead>
        <tr>
            <th>th 1</th>
            <th>th 2</th>
            <th>th 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>            
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>            
        </tr>
    </tbody>
</table>
</fieldset>

{% endblock %}
